{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12 ">
        <h3 class="section-heading">Blog</h3>
        <hr>
        <div class="row">
          <!-- Artículo 1 -->
          <div class="col-sm-4 col-xs-12 " style="padding: 25px;">
                <a href="/nutricion-mexico">
                  <img src="/img/ninos-mexico.jpg" class="img-responsive" alt="La nutrición en México">
                <h4 style="margin-top: 20px;">La Nutrición en México</h4>
            </a>
                ¿Vivimos en una país pobre? En México más de la mitad la población (52.3%) vive en estado de pobreza. Nuestro país no es un país pobre, aunque más de la mitad de los mexicanos lo sean.
                <a href="/nutricion-mexico" style="text-decoration: underline">Leer más </a>
          </div>

          <!-- Artículo 2 -->
          <div class="col-sm-4 col-xs-12 " style="padding: 25px;">
            <a href="/isomaltulosa">
              <img src="/img/estructura_quimica_isomaltulosa_sacarosa.jpg" class="img-responsive" alt="La Isomaltulosa Palatinose">
              <h4 style="margin-top: 20px;">Acerca de la Isomaltulosa</h4>
            </a>
            La isomaltulosa, en términos de nutrición, es un <strong>carbohidrato</strong> que aporta energía al cuerpo humano, y puede ser considerada como de aporte de <strong>energía prolongada</strong>, debido a que su velocidad de hidrólisis y absorción por el cuerpo es lenta en comparación a la sacarosa y otros azúcares.
            <a href="/isomaltulosa" style="text-decoration: underline">Leer más </a>
          </div>

          <!-- Artículo 3 -->
          <div class="col-sm-4 col-xs-12 " style="padding: 25px;">
            <a href="/recomendaciones-nutricionales">
              <img src="/img/comida.png" class="img-responsive" alt="La nutrición en México">
              <h4 style="margin-top: 20px;">Un vistazo a las recomendaciones nutricionales de vitaminas y minerales del Gobierno Mexicano.</h4>
            </a>
            Durante el desarrollo de la fórmula de TotalChow realizamos un análisis de las recomendaciones nutricionales del Gobierno de México, específicamente en los micronutrientes (vitaminas y minerales), con el objetivo de evaluar las mezclas vitamínicas disponibles en el mercado.
            <a href="/recomendaciones-nutricionales" style="text-decoration: underline">Leer más </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}