{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12 text-center">
        <img src="/img/loading.jpg" style="width: 100%" alt="Loading">
        <br><br>
        <h3 class="section-heading">El alimento del futuro está por llegar</h3>
        <hr>

        <h2 style="text-align: center;"><span>Próximamente: TotalChow v1.0</span></h2>
        <p style="text-align: center;">Subscríbete a nuestro Newsletter para recibir la notificación de la apertura de la tienda.</p>

      </div>
    </div>
  </section>
</div>
{% endblock %}