{% extends "master.html" %}

{% block embed %}


<div class="container">

<!-- Product Info Section -->
<section id="product">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="section-heading">Acerca de TotalChow</h2>
      <h3 class="section-subheading text-muted">TotalChow es un alimento inteligente que ofrece nutrición completa de una forma fácil y rápida y a un precio accesible. Hecho en México.</h3>
        <p>La idea de TotalChow es simple: Colocamos todos los nutrientes que el cuerpo humano necesita y los combinamos en un polvo super-nutritivo. Para consumirlo sólo tienes que agregarle agua y ¡listo! Estarás consumiendo todas las proteínas, carbohidratos, grasas esenciales, vitaminas y minerales.</p>
      </div>
    </div>
  <div class="row text-center">
      <br>
      <h3  class="text-center" style="margin: 25px;">Beneficios de TotalChow</h3>
      <div class="col-md-4"><span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-heart fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Saludable</h4>
        <p>Todos los nutrientes que necesitas (macronutrientes y micronutrientes).</p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Rápido</h4>
        <p>Solo agrega agua y ¡listo! 1 minuto.</p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-dollar fa-stack-1x fa-inverse"></i> </span>
        <h4 class="service-heading">Accesible</h4>
        <p>Una comida completa menos de 65.00 MXN.</p>
      </div>
      <br />
    </div>
  <div class="row">
      <div class="col-xs-12 text-left">
        <br>
        <p>TotalChow no es un suplemento alimenticio ni una dieta. Su objetivo para ti puede ser el que tú decidas.</p>

        <h3  class="text-center" style="margin: 25px;">Objetivos al consumir TotalChow</h3>

        <ul>
          <li><strong>Productividad: </strong> Personas que tienen poco tiempo para cocinar o salir a comprar alimentos, por estar enfocadas en sus actividades y que requieren máxima productividad en su rutina diaria sin sacrificar una buena nutrición. Puedes comerlo y substituir los alimentos tradicionales en su totalidad para mejorar la nutrición de tu cuerpo y mejorar tu calidad de vida.</li>
        </ul>
        <ul>
          <li><strong>Conveniencia: </strong>Puedes comerlo para substituir alguna comida, como el desayuno o la cena, cuando no tengas tiempo de cocinar / salir. Estarás seguro de estarle dando a tu cuerpo lo que éste requiere.</li>
        </ul>
        <ul>
          <li><strong>Bodybuilding:</strong> Personas que requieren una alimentación estricta por estar trabajando en el desarrollo de su cuerpo, combinando TotalChow con otros suplementos alimenticios.</li>
        </ul>
        <ul>
          <li><strong>Pérdida de Peso:</strong> Puedes emplearlo para controlar tu ingesta de calorías y bajar de peso, si eso es lo que buscas.</li>
        </ul>
        <ul>
          <li><strong>Simplemente mejorar la salud:</strong> Personas que simplemente necesitan una opción en su desayuno o cena más sana y sin mayor esfuerzo.</li>
        </ul>
        <p style="text-align: center;">¡Te invitamos a abrir tu mente y experimentar la comida del futuro!</p>
        <p><img src="/img/TotalChow_Final_Product_large.jpg" width="450" height="450" style="display: block; margin-left: auto; margin-right: auto;" /><span style="line-height: 1.5;">Una bolsa de TotalChow contiene 2000 kcal, la ingesta diaria recomendada estándar para una persona adulta. La porción recomendada por cada ocasión es 1/4 de la bolsa, es decir 500 kcal. Para facilidad de medición, esto es aproximadamente 1 taza.</span></p>
      </div>

      <div class="col-xs-12 text-center">
        <h4  class="text-center" style="margin: 25px; text-transform: uppercase">Próximamente</h4>

        <p>Estamos trabajando en otras variantes de TotalChow para cubrir ciertas necesidades más específicas.</p>
        <p> </p>
      </div>
      <div class="col-xs-4 col-xs-offset-4 text-center"><a href="/comprar" class="btn btn-xl"> Comprar <i class="fa fa-shopping-cart"></i> </a></div>
    </div>
</section>
<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="section-heading">Ingredientes</h2>
      <h3 class="section-subheading text-muted">Conoce los principales ingredientes de TotalChow. Todos ellos son de excelente calidad y valor nutricional.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/rice_400x289.jpg" class="img-responsive" alt="Arroz, fuente de proteínas y carbohidratos" /> </a>
      <div class="portfolio-caption">
        <h4>Arroz</h4>
        <p class="text-muted">Proteínas y carbohidratos</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/flaxseed_400x289.jpg" class="img-responsive" alt="Linaza, fuente de grasas saludables" /> </a>
      <div class="portfolio-caption">
        <h4>Linaza</h4>
        <p class="text-muted">Grasas saludables</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/hemp_400x289.jpg" class="img-responsive" alt="Semilla de Hemp, fuente de ácidos grasos sanos" /> </a>
      <div class="portfolio-caption">
        <h4>Hemp Seed</h4>
        <p class="text-muted">Omega 3 y 6</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/Amaranth_400x289.jpg" class="img-responsive" alt="Amaranto, ingrediente saludable" /> </a>
      <div class="portfolio-caption">
        <h4>Amaranto</h4>
        <p class="text-muted">Fuente de carbohidratos</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/sesame_seeds_400x289.jpg" class="img-responsive" alt="Ajonjolí, provee grasas saludables y proteínas" /> </a>
      <div class="portfolio-caption">
        <h4>Ajonjolí</h4>
        <p class="text-muted">Fuente de grasas</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/sugar_400x289.jpg" class="img-responsive" alt="Isomaltulosa y Dextrosa, fuente de energía" /> </a>
      <div class="portfolio-caption">
        <h4>Azúcares</h4>
        <p class="text-muted">Isomaltulosa y Dextrosa</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/vitamins_400x289.jpg" class="img-responsive" alt="Vitaminas y Minerales esenciales" /> </a>
      <div class="portfolio-caption">
        <h4>Vitaminas y Minerales</h4>
        <p class="text-muted">Complementos esenciales</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 portfolio-item"><a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
      </div>
      <img src="/img/stevia_400x289.jpg" class="img-responsive" alt="" /> </a>
      <div class="portfolio-caption">
        <h4>Saborizantes Naturales</h4>
        <p class="text-muted">Gran sabor sin culpas</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-xs-offset-4 text-center"><a href="/comprar" class="btn btn-xl"> Comprar <i class="fa fa-shopping-cart"></i> </a></div>
</section>
<!-- Portfolio Modals --> <!-- Use the modals below to showcase details about your portfolio projects! --> <!-- Portfolio Modal 1 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal1" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Arroz</h2>
            <p class="item-intro text-muted">Fuente de proteínas y carbohidratos</p>
            <img class="img-responsive" alt="" />
            <p>Dentro de Totalchow el arroz juega un papel importante proporcionando la mayoría de las proteínas, a través de polvo de proteína aislada, y también es fuente de carbohidratos a través de harina de arroz. Por contener proteínas de origen vegetal, y no contener ningún ingrediente de origen animal, Totalchow puede ser considerado como un alimento vegetariano.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal2" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Linaza</h2>
            <p class="item-intro text-muted">Fuente de grasas saludables y fibra</p>
            <img class="img-responsive img-centered" alt="" />
            <p>La semilla de linaza es una de las principales fuentes de grasas saludables en Totalchow . La linaza contiene Omega 3 y es fuente de fibra dietética.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal3" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Semilla de Hemp</h2>
            <p class="item-intro text-muted">Fuente de ácidos grasos omega 3 y 6</p>
            <img class="img-responsive img-centered" alt="" />
            <p>La semilla de hemp cuenta con propiedades nutritivas únicas por su alto contenido en ácidos grasos Omega 3 y 6, que nos ayudan a prevenir enfermedades cardiovasculares. Este superalimento también aporta proteínas y es fuente importante de vitaminas A y E.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal4" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Amaranto</h2>
            <p class="item-intro text-muted">Fuente de carbohidratos</p>
            <img class="img-responsive img-centered" alt="" />
            <p> </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal5" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Semillas de Ajonjolí</h2>
            <p class="item-intro text-muted">Fuente de grasas saludables</p>
            <img class="img-responsive img-centered" alt="" />
            <p> </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 AZUCARES-->
<div class="modal fade bs-example-modal-lg" id="portfolioModal6" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <ul class="modal-body">
            <ul class="modal-body"><!-- Project Details Go Here --></ul>
          </ul>
          <h2>Isomaltulosa y Dextrosa</h2>
          <p class="item-intro text-muted">Fuentes de energía para el cuerpo</p>
          <p>La formula de Totalchow contiene como parte dos azúcares simples que contribuyen a la ingesta calórica: isomaltulosa y dextrosa.</p>
          <h5>Isomaltulosa (Palatinose)</h5>
          <p>Es un disacárido compuesto por una molécula de fructosa y otra de glucosa, tal como la sucralosa (azúcar de mesa).</p>
          <img class="img-responsive img-centered" src="https://cdn.shopify.com/s/files/1/0971/7718/files/Chemical_structure_of_palatinose.jpg?2575097270282338069" alt="Composición química de la Isomaltulosa" />
          <p>La única diferencia es que esta molécula tiene una conexión distinta en el lazo de ambas moléculas (1,6 vs 1,2 en la sucralosa), lo que la hace más estable y propietaria de diversos beneficios, como son:</p>
          <ul>
            <li>Digestión mucho más lenta.</li>
            <li>Descarga balanceada y lenta de glucosa.</li>
            <li>Menor índice glicémico (mantiene los niveles de azúcar en la sangre).</li>
            <li>Mejora en la oxidación de grasas.</li>
            <li>No promueve el desarrollo de caries (a diferencia del azúcar)</li>
          </ul>
          <p>Aquí se muestra una gráfica del efecto de la isomaltulosa en la sangre en comparación con la sucralosa.</p>
          <img class="img-responsive img-centered" src="https://cdn.shopify.com/s/files/1/0971/7718/files/palatinose_chart.gif?2575097270282338069" alt="Isomaltulosa, menor índice glicémico" />
          <p>Para conocer más acerca de este novedoso ingrediente:</p>
          <ul>
            <li><a href="http://www.beneo.com/Ingredients/Human_Nutrition/Functional_Carbohydrates/Palatinose/">Website Beneo (En Inglés)</a></li>
            <li><a href="http://www.beneonews.com/Background_Information/Products/Sugar_Beet/isomaltulose/Palatinose_shortbrochure_ENGL.pdf">Folleto informativo (En Inglés)</a></li>
          </ul>
          <br />
          <p>Este producto proviene de Alemania, de la marca Beneo y tiene cerficado non-GMO, Kosher y halal. Puede considerarse un producto 100% vegano.</p>
          <h5>Dextrosa</h5>
          <p>La dextrosa es una azúcar simple que existe naturalmente en nuestro cuerpo y es la principal fuente de energía. La dextrosa es un monosacárido compuesto por una molécula de glucosa. Este ingrediente no está asociado de ninguna forma con la fructosa, que tiene un efecto de incremento de azúcar en la sangre. Es de origen natural, proveniente del maíz. Su sabor es dulce, un 30% menos que el azúcar de mesa (sucralosa).</p>
          <p>La dextrosa es especialmente útil para recuperarnos y tener energía suficiente en la actividad física.</p>
          <p>Este ingrediente es de origen nacional y también es 100% vegano.</p>
          <p><em>Ambos ingredientes por ley se listan como azúcar dentro de la tabla de contenido nutrimental.</em></p>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 7 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal7" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Vitaminas y Minerales</h2>
            <p class="item-intro text-muted">Complementos esenciales</p>
            <img class="img-responsive img-centered" alt="" />
            <p> </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 8 -->
<div class="modal fade bs-example-modal-lg" id="portfolioModal8" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"><!-- Project Details Go Here -->
            <h2>Saborizantes Naturales</h2>
            <p class="item-intro text-muted">Sabor sin culpas</p>
            <img class="img-responsive img-centered" alt="" />
            <p>Stevia es un ingrediente que funciona como subtituto de azúcar o edulcorantes artificiales y que aporta cero calorías a la dieta y es seguro en su consumo. Se utiliza en TotalChow en pequeñas cantidades para mejorar el sabor de la comida.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}