{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3 class="section-heading">Acerca de la Isomaltulosa</h3>
        <hr>
        <p><strong>Un poco de química</strong></p>
        <p>Su nombre químico es <strong>6-0-α-D-glucopiranosil-D-fructosa + H 2 O</strong>. </p>
        <p>La isomaltulosa es un disacárido compuesto por dos monosacáridos, una molécula de <strong>glucosa</strong> y otra de <strong>fructosa</strong> con un enlace 1-6 glucosídico.</p>
        <p>La isomaltulosa es un isómero de la <strong>sacarosa</strong> (azúcar de mesa), pues su formula molecular es la misma, (C12H22O11) solo varía en la estructura como se conforman, en su enlace, como se puede apreciar en la figura de abajo.</p>
        <div><img src="/img/estructura_quimica_isomaltulosa_sacarosa.jpg" alt="Estructura Química de Isomaltulosa y Sacarosa" style="display: block; margin-left: auto; margin-right: auto;" /></div>
        <p>La diferencia del enlace en la isomaltulosa, que comercialmente se obtiene a través de de la isomerización enzimática de la sacarosa, provoca un compuesto mucho más estable y con propiedades distintas, mismas que veremos más adelante.</p>
        <p> </p>
        <p><strong>Nutrición</strong></p>
        <p>La isomaltulosa contiene el <strong>mismo contenido calórico</strong> que la sacarosa (azúcar), es decir 4 kcal por gramo.</p>
        <p>Su sabor es parecido al del azúcar, pero con un poder edulcorante menor, aproximadamente la mitad de dulce.</p>
        <p>Su apariencia también es muy parecida, es un polvo granulado, duro y de color blanco.</p>
        <p>La isomaltulosa, en términos de nutrición, es un <strong>carbohidrato</strong> que aporta energía al cuerpo humano, y puede ser considerada como de aporte de <strong>energía prolongada</strong>, debido a que su velocidad de hidrólisis y absorción por el cuerpo es lenta en comparación a la sacarosa y otros azúcares.</p>
        <p>La isomaltulosa, al ser de absorción prolongada, presenta una gran ventaja para mantener estables los niveles de glucosa en la sangre y por ende los niveles de insulina y evitar riesgo de diabetes. Su <strong>índice glicémico (IG)</strong> es de <strong>32</strong> (en el caso de la sacarosa, su IG es de 65).</p>
        <p> Ampliando lo anterior, mostramos esta imagen en donde se ilustran los niveles de azúcar en sangre a través del tiempo, tras el consumo de sacarosa e isomaltulosa.</p>
        <p> </p>
        <div><img src="/img/grafica_isomaltulosa_sacarosa.jpg" alt="Estructura Química de Isomaltulosa y Sacarosa" style="display: block; margin-left: auto; margin-right: auto;" /></div>
        <p> </p>
        <p>Hoy en día el riesgo de <strong>resistencia a la insulina</strong> y <strong>diabetes</strong> es una de las enfermedades metabólicas más graves, tanto en niños como en adultos, por lo que la isomaltulosa juega un papel importante hacia un futuro de alimentos y bebidas procesados más sanos es este aspecto.</p>
        <p>Palatinose es el nombre comercial de la isomaltulosa que comercializa la compañía Alemana BENEO cuenta con certificación de producto kosher, halal, no GMO y por supuesto también es un producto vegano.</p>
        <p> La isomaltulosa actualmente es un ingrediente que se utiliza en un gran número de aplicaciones en la industria alimenticia, como son: panificación, bebidas, dulces, cereales y barras de cereal, lácteos, helados, jugos, bebidas en polvo y bebidas energéticas y deportivas.</p>
        <p><strong>Origen</strong></p>
        <p> La isomaltulosa se encuentra de forma natural en la caña de azúcar y la miel de abeja. Su origen de forma industrial se remota a su descrubrimiento en Alemania, en 1950, donde se empezó a elaborar y estudiar sus efectos.</p>
        <p>En Japón se utiliza ampliamente desde 1985 y también es utiliza en Estados Unidos desde 2005.</p>
        <p>En México su comercialización no es muy común, y se obtiene por medio de por importación, ya que en México no se produce hasta la fecha. La compañía que la produce se llama BENEO y tiene base en Alemania. Cuenta ya con algunos distribuidores en nuestro país.</p>
        <p> </p>
        <p><strong>Otros Beneficios</strong></p>
        <p>Además del beneficio de bajo índice glicémico del que ya hablamos, que ayuda a prevenir la resistencia a la insulina y la diabetes, también hay un <a href="http://www.nutritionjrnl.com/article/S0899-9007(11)00361-3/fulltext">estudio realizado por Daniel König de la Universidad de Freiburg</a> en donde se encontró evidencia de que Palatinose <strong>promueve el uso de reservas grasas</strong> en personas obesas y con sobrepeso. Con base en estos hallazgos, la isomaltulosa también es una aliada en el control de peso.</p>
        <p> Otro de los grandes beneficios de la isomaltulosa es que no es cariogénica, es decir, <strong>no produce caries</strong> en los dientes, por lo cual es un excelente ingrediente en la producción de dulces, entre otras aplicaciones.</p>
        <p> </p>
        <p>En conclusión, la isomaltulosa es un <strong>excelente ingrediente</strong> en la producción de alimentos, que presenta importantes beneficios tanto técnicos como nutricionales, y consideramos que en el futuro se hará mucho más popular su consumo tanto en nuestro país como en el resto del mundo.</p>
        <p> </p>
        <p><strong>Fuentes:</strong></p>
        <ul>
          <li>Palatinose™ The next generation sugar. <a href="http://www.beneonews.com/Background_Information/Products/Sugar_Beet/isomaltulose/Palatinose_shortbrochure_ENGL.pdf">http://www.beneonews.com/Background_Information/Products/Sugar_Beet/isomaltulose/Palatinose_shortbrochure_ENGL.pdf</a> Consultado el 4 de octubre de 2015.</li>
          <li>BENEO GmbH “BENEO Palatinose”. <a href="http://www.beneo.com/Ingredients/Human_Nutrition/Functional_Carbohydrates/Palatinose/">http://www.beneo.com/Ingredients/Human_Nutrition/Functional_Carbohydrates/Palatinose/</a> Consultado el 4 de octubre de 2015.</li>
          <li><a href="http://www.syntech-nutrition.com/en/palatinose">http://www.syntech-nutrition.com/en/palatinose</a> Consultado el 4 de octubre de 2015.</li>
          <li>Beneo News. “New scientific study shows that BENEO’s Palatinose™ promotes the use of fat reserves” Febrero 2012. <a href="http://www.beneonews.com/Press_Releases/Earlier/2012/Palatinose_weight_management_/">http://www.beneonews.com/Press_Releases/Earlier/2012/Palatinose_weight_management_/</a> Consultado el 4 de octubre de 2015.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}