{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3 class="section-heading">Acerca de Nosotros</h3>
        <hr>
        <p>Somos una empresa mexicana joven apasionada por la tecnología y la nutrición. </p>
        <p><strong>Nuestra misión es crear hoy el alimento del futuro para el mercado Latinoamericano que nos permitirá una vida saludable y explotar nuestra productividad.</strong></p>
        <p>TotalChow está elaborado con ingredientes naturales que proporcionan nutrición completa y manufacturado en una planta especializada en producción de alimentos y suplementos que cumple con todas las normas sanitarias requeridas por la ley, para asegurar la calidad que nuestros consumidores merecen.</p>
        <p>El proyecto de TotalChow se ha basado en la experimentación personal y se encuentra en constante evolución, producto de la investigación, innovación de ingredientes y sobre todo la retroalimentación de los consumidores. El feedback de nuestros usuarios es input para las siguientes mejoras al producto.</p>
        <meta charset="utf-8" />
        <p>Creemos también en la apertura de la información como un derecho del consumidor y oportunidad para colaboración y mejoras al producto, por ello, la fórmula de nuestros productos está disponible en nuestro website.</p>
        <p>En resumen, nuestros valores y motivadores son los siguientes:</p>
        <ul>
          <li>Nutrición</li>
          <li>Innovación</li>
          <li>Calidad</li>
          <li>Evolución continua</li>
          <li>Información</li>
        </ul>
        <p>Nuestras operaciones están basadas en Guadalajara, Jalisco, en México. Actualmente enviamos a toda la república y próximamente expandiremos nuestras operaciones a otros países de Latinoamérica. </p>
        <p>Para cualquier información estamos a sus órdenes en el correo: <strong>contacto@totalchow.com</strong></p>
        <ul></ul>
        <p> </p>


      </div>
    </div>
  </section>
</div>
{% endblock %}