{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3 class="section-heading">La Nutrición en México</h3>
        <hr>
        <p><strong><img src="/img/ninos-mexico.jpg" alt="nutrición en México niños" style="display: block; margin-left: auto; margin-right: auto;" /></strong></p>
        <p> </p>
        <p><strong>¿Vivimos en una país pobre?</strong></p>
        <p>En México más de la mitad la población (52.3%) vive en estado de pobreza. </p>
        <p>Nuestro país no es un país pobre, aunque más de la mitad de los mexicanos lo sean, de hecho, de acuerdo con el <a href="http://databank.worldbank.org/data/download/GDP.pdf">ranking de países por PIB del 2014</a>, somos el país #15 en ingresos del mundo, considerando 194 países.</p>
        <p>El problema radica en la desigualdad del ingreso que existe en México, y las consecuencias que ello conlleva.</p>
        <p> </p>
        <p><strong>Desnutrición en México</strong></p>
        <meta charset="utf-8" />
        <p>Según la <a href="https://coin.fao.org/coin-static/cms/media/2/13843839442340/overview_food_security_and_nutrition_in_mexico_2013-prov.pdf#page=21">CONEVAL</a>, se estima que un 19.7% de la población vive en pobreza alimentaria, es decir, que no cuenta con los recursos suficientes para cubrir sus necesidades de alimento.</p>
        <p>En términos de nutrición, para el caso de los adultos, se estima que el porcentaje de la población adulta con desnutrición es menor que 5%. Sin embargo, las metodologías con que se llevan a cabo estas mediciones pueden no ser del todo eficaces para medirlo, se basan en medidas de peso y talla, que pueden no estar contando la historia completa. Por ejemplo, de acuerdo con la <a href="http://ensanut.insp.mx/informes/ENSANUT2012ResultadosNacionales.pdf">Encuesta Nacional de Salud y Nutrición 2012</a>, se estima prevalencia de anemia en el 11.8% de mujeres en edad adulta. </p>
        <p> </p>
        <p><strong>Desnutrición en los niños de México</strong></p>
        <p>El problema de desnutrición en México es más grave en nuestros niños. Un indicador clave para entender el problema de la desnutrición es el <em>"retraso del crecimiento"</em>, que describe un estado en el cual el desarrollo del niño es demasiado bajo para la edad que tiene, en comparación con los patrones de crecimiento infantil de la Organización Mundial de la Salud. Una causa raíz del retraso del crecimiento es una alimentación pobre e inadecuada, que provoca deficiencia de vitamina A, así como otras vitaminas y minerales. El retraso del crecimiento tiene como consecuencia disminución en el desarrollo cerebral y a largo plazo los niños crecen con repercusiones en sus capacidades cognitivas al ser adultos.</p>
        <p>De acuerdo con <a href="http://www.fao.org/docrep/018/i3300e/i3300e.pdf#91">estadísticas</a>, en el 2013 en México el 15.5% de los niños presentaban retraso del crecimiento, 29.4% posiblemente anemia y 26.8% deficiencia de vitamina A. </p>
        <p>La situación se agudiza aún más en los grupos de niños indígenas. Se estima que el 33.1% de los niños indígena vive en desnutrición, estos datos también fueron revelados en los resultados de la <a href="http://ensanut.insp.mx/doctos/analiticos/Desnutricion.pdf#page=3">Encuesta Nacional de Salud y Nutrición 2012</a>.</p>
        <meta charset="utf-8" />
        <p>Estos datos son suficientes para estar seguros de que la desnutrición infantil es un problema severo en nuestro país que como sociedad y en conjunto con el gobierno debemos atacar.</p>
        <p> </p>
        <p><strong>Desnutrición y obesidad al mismo tiempo.</strong></p>
        <p>Simultáneamente al problema de la desnutrición, en México existe un problema de obesidad que aqueja a la población. El 32.8% de la población adulta padece de obesidad. De hecho considerando la población adulta de más de 20 años de edad, el 69.4% de los hombres y el 73% de las mujeres padecen sobrepeso u obesidad, según <span>la </span><a href="http://ensanut.insp.mx/doctos/analiticos/Desnutricion.pdf#page=3">Encuesta Nacional de Salud y Nutrición 2012</a>. Dicho en otras palabras, sólo menos de un tercio de la población tiene peso adecuado o bajo.</p>
        <p>Una de las causas raíz de que exista desnutrición y sobrepeso al mismo tiempo es la baja calidad de los alimentos que la población consume, siendo en gran parte de alto contenido calórico y poco valor nutrimental. </p>
        <p>Así mismo, desde los 80s se ha incrementado el consumo de alimentos procesados y bebidas, con alto contenido de grasa y azúcar. </p>
        <meta charset="utf-8" />
        <p>La obesidad también tiene sus consecuencias, como por ejemplo, dentro de las <a href="http://www.who.int/gho/countries/mex.pdf#page=3">causas de muerte en México</a>, la causa número 1 es la diabetes (14.5% de las muertes), padecimiento íntimamente ligado con la obesidad. La número 2 son enfermedades cardiovasculares (12.6%), también relacionadas a la obesidad y el sobrepeso. </p>
        <p> </p>
        <meta charset="utf-8" />
        <p><strong>Conclusiones </strong></p>
        <p>Es importante que todos como sociedad tomemos conciencia de esta problemática, así como sus dimensiones, y trabajemos juntos para atacarla. Ya sea formando parte de un movimiento social, una ONG, o bien creando oportunidades a través de nuestra actividad empresarial, busquemos crear un impacto y hacer la diferencia, sobre todo en nuestros niños.</p>
        <p>Programas de educación al alcance de toda la población, más alimentos de la canasta básica fortificados y campañas de apoyo social son algunas de las acciones tácticas que creemos que nuestro gobierno debe impulsar para impactar esta problemática.</p>
        <p>Para TotalChow, la más anhelada visión del futuro que tenemos es poder contribuir en gran escala a erradicar esta problemática en México y América Latina, especialmente en nuestros niños.</p>
        <p> </p>
        <p><strong>Fuentes:</strong></p>
        <ul>
          <li><span style="line-height: 1.5;">The World Bank. Data - México. </span><a href="http://data.worldbank.org/country/mexico" style="line-height: 1.5;">http://data.worldbank.org/country/mexico</a><span style="line-height: 1.5;"> (Consultado el 13 de octubre de 2015).</span></li>
          <li><span style="line-height: 1.5;">The World Bank. "Gross domestic product 2014". </span><a href="http://databank.worldbank.org/data/download/GDP.pdf" style="line-height: 1.5;">http://databank.worldbank.org/data/download/GDP.pdf</a><span style="line-height: 1.5;"> </span></li>
          <li>Food and Agriculture Organization of the United Nations. "Food security and <span style="line-height: 1.5;">nutrition in Mexico, An overview" 12th November 2013, Mexico City. </span><a href="https://coin.fao.org/coin-static/cms/media/2/13843839442340/overview_food_security_and_nutrition_in_mexico_2013-prov.pdf#page=23" style="line-height: 1.5;">https://coin.fao.org/coin-static/cms/media/2/13843839442340/overview_food_security_and_nutrition_in_mexico_2013-prov.pdf</a></li>
          <li><span style="line-height: 1.5;">Food and Agriculture Organization of the United Nations. </span><span style="line-height: 1.5;">"2015 The State of Food Insecurity in the World". 2015. <a href="http://www.fao.org/3/a-i4646e.pdf">http://www.fao.org/3/a-i4646e.pdf</a> </span></li>
          <li><span style="line-height: 1.5;">Instituto Nacional de Salud Pública. "Encuesta Nacional de Salud y Nutrición 2012 - Resultados Nacionales". <a href="http://ensanut.insp.mx/informes/ENSANUT2012ResultadosNacionales.pdf">http://ensanut.insp.mx/informes/ENSANUT2012ResultadosNacionales.pdf</a></span></li>
          <li><span style="line-height: 1.5;">Food and Agriculture Organization of the United Nations. "2013 The State of Food and Agriculture".</span></li>
          <li><span style="line-height: 1.5;">World Health Organization. "Mexico: WHO statistical profile". <a href="http://www.who.int/gho/countries/mex.pdf">http://www.who.int/gho/countries/mex.pdf</a> (Actualizado Enero 2015).</span></li>
          <li>UNICEF. "Mexico: Government and UNICEF launch ground-breaking study addressing child poverty".Mexico City, Mexico, 3 April 2013. <a href="http://www.unicef.org/media/media_68584.html">://www.unicef.org/media/media_68584.html</a></li>
        </ul>


      </div>
    </div>
  </section>
</div>
{% endblock %}