{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3 class="section-heading">Un vistazo a las recomendaciones nutricionales de vitaminas y minerales del Gobierno Mexicano.</h3>
<hr>
        <p><img src="/img/comida.png" alt="comida vitaminas y minerales México" style="display: block; margin-left: auto; margin-right: auto;" /></p>
        <p>Durante el desarrollo de la fórmula de TotalChow realizamos un análisis de las recomendaciones nutricionales del Gobierno de México, específicamente en los micronutrientes (vitaminas y minerales), con el objetivo de evaluar las mezclas vitamínicas disponibles en el mercado.</p>
        <p>Comparando estas recomendaciones con aquellas del gobierno estadounidense, encontramos que en la mayoría de las vitaminas y minerales nuestro gobierno aconseja cantidades menores, lo cuál saltó a nuestra atención.</p>
        <p><b>Recomendación del Gobierno de Ingesta Diaria de Vitaminas</b></p>
        <meta charset="utf-8" />
        <p style="text-align: center;"><img src="/img/Vitaminas_Mexico_vs_US_500.jpeg" alt="IDR vitaminas gobierno mexico estados unidos ingesta diaria" /></p>
        <p><b>Recomendación del Gobierno de Ingesta Diaria de Minerales</b></p>
        <p style="text-align: left;"><img src="/img/Minerales_Mexico_vs_US_500.jpeg" alt="IDR minerales gobierno mexico estados unidos ingesta diaria" style="display: block; margin-left: auto; margin-right: auto;" /></p>
        <p>Consideramos que estas recomendaciones tienen un gran impacto, ya que con base en ellas se expresan los porcentajes de recomendación diaria de vitaminas y minerales contenidos en las etiquetas de cualquier producto con etiquetado conforme a la norma (que es requisito para estar en anaqueles).</p>
        <p>Únicamente en el caso del hierro, México recomienda consumir mucho más por día que Estados Unidos, más del doble, pero desconocemos el sustento científico de ello (Estaremos investigando). </p>
        <p>En todo caso, el gobierno establece que para la mayoría de estos valores no son "recomendaciones", sino "sugerencias", ya que no cuentan con suficiente sustento científico para avalarlo. </p>
        <p>Les compartimos el perfil nutrimental recomendado por el gobierno mexicano para su consulta, en el formato de DIY Soylent, en este <a href="https://diy.soylent.com/nutrient-profiles/5616efb579c22ab576306a3b">link</a>, o bien pueden consultar directamente el texto de la normal <a href="http://dof.gob.mx/nota_detalle.php?codigo=5137518&amp;fecha=05/04/2010">NOM-051-SCFI/SSA1-2010</a> directamente.</p>
        <p> </p>
        <p><strong>Fuentes:</strong></p>
        <ul>
          <li>NORMA Oficial Mexicana NOM-051-SCFI/SSA1-2010, Especificaciones generales de etiquetado para alimentos y bebidas no alcohólicas preenvasados-Información comercial y sanitaria. <a href="http://dof.gob.mx/nota_detalle.php?codigo=5137518&amp;fecha=05/04/2010">http://dof.gob.mx/nota_detalle.php?codigo=5137518&amp;fecha=05/04/2010</a> Consultado el 9 de octubre de 2015.</li>
        </ul>




      </div>
    </div>
  </section>
</div>
{% endblock %}